*.Rhistory
*.Rapp.history
*.Rproj
*.Rproj.user
*.Ruserdata
*.Renviron
*.DS_Store
/.quarto/
/site_libs
tutorial/validation_dictionary_coded.csv
.Rproj.user
/references
*.txt
*.udpipe
Lösungsvorschlag_Aufgabe1.R