@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  color: #000000;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #00893B;
}

.remark-code {
  font-family: 'Source Code Pro', monospace;
}

.remark-inline-code {
  font-family: 'Source Code Pro', monospace;
}

@media print {
  body {
    font-family: 'Economica', sans-serif;
    font-weight: 400;
}
